* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  outline: none !important;
}
#main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("imgs/wp2707266-love-background-hd.jpg");
  background-size: cover;
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  background-position: center;
  position: relative;
}
#container {
  border: 1px solid rgba(103, 4, 78, 0.523);
  width: 90%;
  /* height: 0%; */
  backdrop-filter: blur(8px);
  background: rgba(101, 2, 74, 0.036);
  padding: 20px 0;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-family: sans-serif;
}
#img-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#img-sec img {
  width: 300px;
}
#img2 {
  display: none;
}
#btn-sec {
  gap: 10px;
}
#btn-sec button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
#green {
  backdrop-filter: blur(8px);
  background: rgb(66, 248, 37);
}
#red {
  background: red;
}
footer {
  position: absolute;
  bottom: 0;
  color: white;
  font-family: sans-serif;
  font-size: 10px;
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
  #img-sec img {
    width: 200px;
  }
  #btn-sec {
    gap: 10px;
  }
}
